---
import { getCollection } from 'astro:content'
import type { Props as SEOProps } from 'astro-seo'
import { siteUrl } from '@utils/url'
import { sortCollectionItems } from '@utils/content'
import Layout from '@components/Layout.astro'
import HomeHero from '@components/HomeHero.astro'
import HomeSection from '@components/HomeSection.astro'
import HomeSectionItem from '@components/HomeSectionItem.astro'

const writing = await getCollection('writing')
const experience = await getCollection('experience')

const seo: SEOProps = {
	title: 'Vitor Dino',
	description: 'frontend developer & interaction designer',
	openGraph: {
		basic: {
			title: 'frontend developer & interaction designer',
			type: 'article',
			image: siteUrl + '/og.png',
		},
		optional: {
			locale: 'en_US',
			siteName: 'vitordino.com',
		},
	},
	twitter: {
		card: 'summary_large_image',
		title: 'Vitor Dino',
		description: 'frontend developer & interaction designer',
		image: siteUrl + '/twitter.png',
		imageAlt: 'Vitor Dino',
	},
}
---

<Layout {...seo}>
	<main>
		<HomeHero />
		<div class='relative bg-slate-1'>
			<HomeSection title='writing'>
				{
					sortCollectionItems(writing).map(({ slug, data }) => (
						<HomeSectionItem
							href={`/writing/${slug}`}
							title={data.title}
							description={data.description}
							right={data.date.getUTCFullYear().toString()}
						/>
					))
				}
			</HomeSection>
			<HomeSection title='experience'>
				{
					sortCollectionItems(experience).map(({ data }) => (
						<HomeSectionItem href={data.to} title={data.title} description={data.description} right={data.dateRange} />
					))
				}
			</HomeSection>
		</div>
	</main>
</Layout>
