---
import { getCollection } from 'astro:content'
import { sortCollectionItems } from '@utils/content'
import Layout from '@components/Layout.astro'
import HomeHero from '@components/HomeHero.astro'
import HomeSection from '@components/HomeSection.astro'
import HomeSectionItem from '@components/HomeSectionItem.astro'

const writing = await getCollection('writing')
const experience = await getCollection('experience')
---

<Layout title='Vitor Dino'>
	<main>
		<HomeHero />
		<HomeSection title='writing'>
			{
				sortCollectionItems(writing).map(({ slug, data }) => (
					<HomeSectionItem
						href={`/writing/${slug}`}
						title={data.title}
						description={data.description}
						right={data.date.getUTCFullYear().toString()}
					/>
				))
			}
		</HomeSection>
		<HomeSection title='experience'>
			{
				sortCollectionItems(experience).map(({ data }) => (
					<HomeSectionItem href={data.to} title={data.title} description={data.description} right={data.dateRange} />
				))
			}
		</HomeSection>
	</main>
</Layout>
