---
import { getCollection } from 'astro:content'
import Layout from '@components/Layout.astro'
import HomeSection from '@components/HomeSection.astro'
import HomeSectionItem from '@components/HomeSectionItem.astro'

const writing = await getCollection('writing')
const experience = await getCollection('experience')
---

<Layout title='Vitor Dino'>
	<main>
		<HomeSection title='writing'>
			{
				writing.map(({ data }) => (
					<HomeSectionItem
						title={data.title}
						description={data.description}
						right={data.date.getUTCFullYear().toString()}
					/>
				))
			}
		</HomeSection>
		<HomeSection title='experience'>
			{
				experience.map(({ data }) => (
					<HomeSectionItem title={data.title} description={data.description} right={data.dateRange} />
				))
			}
		</HomeSection>
	</main>
</Layout>
