---
import type { Props as SEOProps } from 'astro-seo'
import { getCollection } from 'astro:content'
import { siteUrl } from '@utils/url'
import Layout from '@components/Layout.astro'
import ArticleHero from '@components/ArticleHero.astro'
import P from '@components/markdown/P.astro'
import A from '@components/markdown/A.astro'
import H2 from '@components/markdown/H2.astro'
import BlockQuote from '@components/markdown/BlockQuote.astro'
import Pre from '@components/markdown/Pre.astro'
import HR from '@components/markdown/HR.astro'
import OL from '@components/markdown/OL.astro'
import UL from '@components/markdown/UL.astro'
import LI from '@components/markdown/LI.astro'
import Code from '@components/markdown/Code.astro'

export const getStaticPaths = async () => {
	const writingEntries = await getCollection('writing')
	return writingEntries.map(entry => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content, components } = await entry.render()
const customComponents = {
	...components,
	blockquote: BlockQuote,
	h2: H2,
	p: P,
	pre: Pre,
	hr: HR,
	a: A,
	ol: OL,
	ul: UL,
	li: LI,
	code: Code,
}

const title = `Vitor Dino — ${entry.data.title}`

const ogImageSrc = entry.data.ogImage ? `${siteUrl}/${entry.data.ogImage}` : undefined
const twitterImageSrc = entry.data.twitterImage ? `${siteUrl}/${entry.data.twitterImage}` : undefined

const openGraph: SEOProps['openGraph'] = ogImageSrc
	? {
			basic: {
				title: entry.data.description,
				type: 'article',
				image: ogImageSrc,
			},
			optional: {
				locale: 'en_US',
				siteName: 'vitordino.com',
			},
	  }
	: undefined

const twitter: SEOProps['twitter'] = twitterImageSrc
	? {
			card: 'summary_large_image',
			title,
			description: entry.data.description,
			image: twitterImageSrc,
			imageAlt: entry.data.title,
	  }
	: undefined

const layoutProps: SEOProps = {
	title,
	description: entry.data.description,
	openGraph,
	twitter,
}
---

<Layout {...layoutProps}>
	<main class='writing-article'>
		<ArticleHero {...entry.data} />
		<Content components={customComponents} />
	</main>
</Layout>
<style is:global>
	.slice:not([data-theme]):nth-of-type(2n) {
		@apply bg-slate-3 dark:bg-slate-2;
	}
</style>
